* {
    margin: 0px;
    box-sizing: border-box; /*siri fa7mi7*/
    font-family: poppins,sans-serif;
    text-decoration: none;
}

.row {
   background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;

}

.logo {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20rem;
    
}

.logo p {
    margin-left: 10px;
    font-size: 22px;
}

.navigation {
    /* width : 50%;  */
    width: 100%;
    display : flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.menu ul {
    display : flex;
    list-style: none;
    align-items: center;
 }

 .menu ul > li {
    padding-right: 25px;
    letter-spacing:  2px;
 }


/* ---------------------------------------------------- section 1------------------------------------------------------ */
.home-section1 {
   display : flex;
   flex-direction: row;
   justify-content: center;
}

 .section {
    width : 593px;
 }

 .section h2 {
    color: #094B72;
    font-family: Playfair Display;
    font-size: 69px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 82.8px */
    letter-spacing: 1.38px;
 }

 .section p {
    color: var(--neutral-grey-6, #4F4F4F);
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 158%; /* 34.76px */
    letter-spacing: 0.5px;
    margin-bottom: 3rem;
 }
 
 .section button {
    margin-bottom: 3rem;
    width: 190px;
    height: 80px;
    border-radius: 8px;
    background: #094B72;
    color: var(--neutral-grey-1, #F9F8F9);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140.5%; /* 22.48px */
    letter-spacing: 1.28px;
 }

.section img {
   margin-bottom: 10px;
} 

.image {
    position: relative;
 }


.bloc {
    width: 382px;
    height: 114px;
    position: absolute;
    bottom: -16px;
    right : 143px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 39px 100px rgba(25, 62, 108, 0.12);
    color: #33475B;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
 }
 .bloc p {
    color: #87898C;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; 
 }
 /* -----------------------section services---------------------------------------- */
 .services {
   padding: 20px;
   background-color: #F2F7FF;
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap : 60px;

 }

 .question {
   width : 30%;
   width: 419.309px;
   height: 302px;
   flex-shrink: 0;
   margin-top : 100px;
   margin-right: 190px;
 }

.question h3 {
   color: var(--neutral-grey-7, #2D2F30);
   font-family: Playfair Display;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   letter-spacing: 0.323px;
}

.question p {
   color: var(--neutral-grey-5, #8B8C8C);
   font-feature-settings: 'clig' off, 'liga' off;
   font-family: Poppins;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 36px; /* 180% */
   letter-spacing: 0.5px;
   margin-top: 20px;
}

.service-n {
   margin-top: 20px;
   width: 555px;
   height: 534px;
   display: flex;
   flex-wrap: wrap;
 }

.S {
   display: flex;
   width: 256px;
   padding: 24px;
   flex-direction: column;
   align-items: flex-start;
   gap: 18px;
   background-color: #FFF;
   margin: 15px 10px 15px 10px;
   box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);

 }

.S h5 {
   color: var(--Text, #363940);
   font-family: Playfair Display;
   font-size: 22px;
   font-style: normal;
   font-weight: 700;
   letter-spacing: 0.5px;
 }

.S p {
   color: var(--neutral-grey-5, #8B8C8C);
   font-family: Plus Jakarta Sans;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   letter-spacing: 0.3px;
 }

 /* -------------------------------------------------- section de comptage-------------------------------------------- */
 .count {
   position: relative;
 }

 .background {
   width : 1857px;
   z-index: 0;
 }

 .count-matters {
   position: absolute;
   font-size: 19px;
   top : 70px;
   left: 700px;
   text-align: center;
 }

 .count-matters h4 {
   color: var(--default-white, #FFF);
   text-align: center;
   font-feature-settings: 'salt' on, 'liga' off;
   font-family: Playfair Display;
   font-size: 48px;
   font-style: normal;
   font-weight: 900;
   line-height: 64px; /* 133.333% */
   letter-spacing: 0.24px;
 }

 .count-matters p {
   color: var(--default-white, #FFF);
   text-align: center;
   font-feature-settings: 'salt' on, 'liga' off;
   font-family: Poppins,sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px; /* 177.778% */
   letter-spacing: 0.5px;
 }

 .countainer {
   position: absolute;
   top : 250px;
   left: 640px;
   display: flex;
   gap : 200px;
 }

/* ----------- */
.client-number {
   text-align: center;
}

 .client-number h4 {
   font-size: 48px;
   color: #FFF;
 }

 .client-number p {
   text-align: center;
   color: #FFF;
 }

/* ---------- */
 .businnes {
   text-align: center;
 }

 .businnes h4 {
   font-size: 48px;
   color: #FFF;
 }

 .businnes p {
   text-align: center;
   color: #FFF;
 }

 /* --------- */
 .years {
   text-align: center;
 }

 .years h4 {
   font-size: 48px;
   color: #FFF;
 }

 .years p {
   text-align: center;
   color: #FFF;
 }

 /* ------------------------------------------------section des clients------------------------------------------------ */
 .home-section2 {
    background-color: #F2F7FF;
    padding : 10rem 0 6rem 0;
    position: relative;
    display : flex;
    flex-direction: row;
    justify-content: center;
    gap : 100px;

 }

 .client {
   position: absolute;
   top : 45px;
   color: var(--neutral-grey-7, #2D2F30);
   text-align: center;
   font-feature-settings: 'salt' on, 'liga' off;
   font-family: Playfair Display;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: 64px; /* 133.333% */
   letter-spacing: 0.5px;
}

.client1 {
   display : flex;
   flex-direction: column;
}

 .vue1 {
    
    width: 540px;
    height: 220px;
    text-align: center;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    padding : 10px;
    padding-top : 60px;
    
 }

 .persone1 {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
   margin-top:2rem;
 }

 .client2 {
   display : flex;
   flex-direction: column;
}

 .vue2 {
    padding-top : 60px;
    width: 540px;
    height: 220px;
    text-align: center;
    border-radius: 10px;
    background: #ffffff;
   box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    padding : 10px;
    padding-top : 60px;
    
 }

 .persone2 {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
   margin-top:2rem;
 }
 /* ---------------------------------------------------section des question-------------------------------------------- */
 .complex-questions {
   text-align: left;
   margin: 3em 0 0 21em;
}

 .complex-questions h4{
   color: var(--neutral-grey-7, #2D2F30);
   font-family: Playfair Display;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: 64px; /* 133.333% */
   letter-spacing: 0.5px;

}

.complex-questions p {
   margin: 2em 0 1em 0;
   width: 821px;
   height: 129.393px;
   color: var(--neutral-grey-6, #4F4F4F);
   font-family: Poppins;
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: 36px; /* 150% */
   letter-spacing: 0.5px;
}

.complex-questions button {
   width: 219px;
   height: 64px;
   margin-bottom: 20px;
   background-color: #094B72;
   color:#F9F8F9;
   font-family: Poppins;
   font-size: 22px;
   font-style: normal;
   font-weight: 600;
   line-height: 36px; /* 163.636% */
   letter-spacing: 0.5px;
}
 /* ---------------------------------------------------contact-------------------------------------------------------- */
 /* ------------------------------------------------------------------------------------------------------------------ */
  .contact {
   background-color: #F2F7FF;
   padding: 4rem 0 4rem 20rem;

}

.info {
   display: flex;
   flex-direction: column;
}

.info input, .info select {
   width: 50em;
   height: 5em;
   margin-top: 20px;
   padding: 7px;
   border: 2px solid #094B72;
   background: #FFF;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.info button {
   margin :3rem 0 3rem 0;
    width: 190px;
    height: 80px;
    border-radius: 8px;
    background: #094B72;
    color: var(--neutral-grey-1, #F9F8F9);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140.5%; /* 22.48px */
    letter-spacing: 1.28px;
}
/* ---------------------------------------------------footer----------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------- */
.feets {
   height: 400px;
   background-color: #094B72;
   /* color:ffffff; */
   display: flex;
   flex-direction: column;
}
.feet1 {
   
   background-color: #094B72;
   color : #FFF;
   display : flex;
   flex : arrow;
   /* justify-content :space-evenly; */
   gap: 40rem;
   padding: 0 0 9rem 10rem;
}

.pf1 {
   display : flex;
   flex : arrow;
   align-items: center;
}

.pf2 {
   display : flex;
   flex : arrow;
   justify-content: center;
   align-items: center;
   gap : 2rem;
   padding-top : 4rem;

   
}

.pf2 h4 {
   font-family: 'Inter', sans-serif;
   font-weight: 500;
   font-size: 20px;
   margin-bottom: 20px;
}


.pf2 li {
   list-style: none;
   font-family: 'Inter', sans-serif;
   font-weight: 200;
   font-style: normal;
font-size: 16px;
font-style: normal;
padding-bottom: 20px;

}

.features {
   margin-left: 38px;
}


.feet2{
   background-color: #004D7B;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap : 57rem;
   padding: 0 0 3rem 19rem;
}

.logo2 {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-left: 10rem;
   margin-top: 3em;
   display: block;
}